.vscode/*
backup
__pycache__
.vs
.idea
audio
venv
video
dist
build
21-网络爬虫/手把手带你学会Python爬虫
21-网络爬虫/10-scrapy/*/images
21-网络爬虫/10-scrapy/*/*/images
21-网络爬虫/10-scrapy/*/img
21-网络爬虫/10-scrapy/*/*/img
21-网络爬虫/10-scrapy/*/files                                           
21-网络爬虫/10-scrapy/*/*/files
21-网络爬虫/10-scrapy/*/File
21-网络爬虫/10-scrapy/*/*/File
21-网络爬虫/10-scrapy/*/*/txt
21-网络爬虫/10-scrapy/*/*/*/txt
21-网络爬虫/10-scrapy/*/*.log
21-网络爬虫/10-scrapy/*/*/*.log
21-网络爬虫/10-scrapy/*/*/data 
21-网络爬虫/3-xpath/img
21-网络爬虫/11-scrapy+senium/*.log
21-网络爬虫/11-scrapy+senium/*/*.log
21-网络爬虫/11-scrapy+senium/*/*/*.log
debug.log
created_gif.gif