.vscode/*
backup
__pycache__
.vs
.idea
video
dist
build
21-网络爬虫/手把手带你学会Python爬虫
21-网络爬虫/8-scrapy/*/images
21-网络爬虫/8-scrapy/*/*/images
21-网络爬虫/8-scrapy/*/img
21-网络爬虫/8-scrapy/*/*/img
21-网络爬虫/8-scrapy/*/*.log
21-网络爬虫/8-scrapy/*/*/*.log
21-网络爬虫/8-scrapy/*/*/data 
21-网络爬虫/3-xpath/img