# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = wangzherongyao2.settings

[deploy:wzry]
url = http://192.168.137.7:6800/
project = wzry
